
    <h1>Currently Tracked Items</h1>

    <% if session[:message] %>
      <p><%= session.delete(:message)%></p>
    <% end %>

    <form action="/add" method="post">
      <dl>
        <dt>Item Name</dt>
        <dd><input type="text" name="item"></dd>
        <dt>Time Frame</dt>
        <dd><input type="time" name="time"></dd>
      </dl>
      <input type="submit">
    </form>

    <ul>
      <% @items.each do |item| %>
        <li>
          <form action="#" method="get">
            <button type="submit"><i class="fas fa-music"></i></button>
          </form>
          <%# <a href="#"><i class="fas fa-music"></i></a> %>
          <form action="<%= item[:name] %>/delete" method="post">
            <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
          <div><%= item[:time] %> <b><%= item[:name] %></b></div>
        </li>
      <% end %>
    </ul>








