<form action="/signup" method="post">
  <fieldset>
    <% if session[:message] %>
      <p><%= session.delete(:message)%></p>
    <% end %>
    <dl>
      <dt><label for="username">Username:</label></dt>
      <dd><input type="text" id="username" name="username"></dd>
      <dt><label for="password">Password:</label></dt>
      <dd><input type="password" id="password" name="password"></dd>
      <dt><label for="password2">Password:</label></dt>
      <dd><input type="password" id="password2" name="password2"></dd>
    </dl>
    <input class="login-btn" type="submit" value="Sign Up">
    <a href="/login">Login</a>
  </fieldset>
</form>