@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #faece6;
  color: #133438;
}

h1 {
  margin-left: 20%;
  font-size: 3rem;
  margin-top: 50px;
  font-family: 'Courgette', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  width: 500px;
  height: 500px;
  display: block;
}

.clock {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3A8E99;
}

.black-screen {
  border-radius: 100%;
  height: 90%;
  width: 90%;
  background-color: #133438;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

.left {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.left p {
  padding: 5px;
  margin: 5px;
  margin-left: 20%;
  color: brown;
}

input {
  position: relative;
  z-index: 2;
}

.right {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  height: 100vh;
  background-color: #133438;
}

.left li {
  margin-left: 20%;
  background-color: #EBD2C7;
  padding: 10px;
  list-style: none;
  margin-top: 10px;
}

button {
  position: relative;
  z-index: 1;
  background-color: inherit;
  border: none;
  color: #3A8E99;
}

.left li form {
  display: inline-block;
}

.left li div {
  display: inline-block;
}

.middle {
  position: absolute;
  margin-left: 60vw;
  z-index: 2;
  margin-top: 25vh;
}

dl, dt, dd {
  display: inline-block;
}

dl {
  margin-left: 20%;
  padding: 10px 0 10px 0;
}

.background img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  opacity: 30%;
}

fieldset {
  position: relative;
  z-index: 1;
  width: 30%;
  height: 50vh;
  margin: auto;
  margin-top: 22vh;
  border-radius: 20%;
  background-color: #3A8E99;
  color: white;
  font-weight: bolder;
}

fieldset dt {
  padding-top: 10px;
  display: block;
}

fieldset dd {
  padding-top: 3px;
}

fieldset dd input {
  border-radius: 5%;
  height: 2rem;
  border-style: dashed;
}

fieldset a {
  color: white;
  text-decoration: none;
}

.login-btn {
  height: 2rem;
  padding: 5px;
  margin-left: 43%;
  margin-top: 10px;
}

.logout-btn {
  margin-left: 95%;
}

